.flash {
	color: red;
	text-align: center;
	background-color: orange;
	font-size: 1.4em;
}

.notice {
	color: orange;
	background-color: red;
	}
	
.altert {
	color: yellow;
	background-color: black;
}

.big-btn {
	width: 250px;

	}