.flash {
	color: green;
	text-align: center;
	background-color: orange;
	font-size: 1.4em; }

.big-btn {
	width: 250px;
}

.notice {
	color: orange;
	background-color: darkgreen;
}

.alert{
	color: yellow;
	background-color: darkred;
}